<h2>Book detail</h2>
<table>
  <tr>
    <td></td>
    <td><%= @book.title %></td>
    <td><%= @book.body %></td>
    <% if @book.user == current_user %>
    <td><%= link_to "Edit", edit_book_path(@book.id) %></td>
    <td><%= link_to "Destroy", book_path(@book), method: :delete %></td>
    <% end %>
  </tr>
</table>