<h1>Welcome to <i class="fas fa-book"><strong>Bookers</strong>!!</h1>

<p>in <i class="fas fa-book"><strong>Bookers</strong>,</p>
<p>you can share and exchange your opinions ,<br>
inpressions , and emotions</p>
<p>about various books!</p>

<%= link_to "Log in",new_user_session_path %>
<%= link_to "Sign up",new_user_registration_path %>